$brand-green: #82ae46;
$text-green: #567228;
$body-text: #5f6770;
$sidebar-text: #2f3b20;
$sidebar-text-active: #17200e;
$focus-outline: #343a40;

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', serif;
  padding: 0;
  margin: 0;
  color: $body-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  color: #343a40;
}

h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.h3, h3 {
  font-size: calc(1.3rem + .6vw);
}

.bg-primary {
  background-color: $brand-green !important;
}

.text-primary {
  color: $text-green !important;
}

a {
  color: $text-green;
}

a:hover, a:focus, a:active {
  color: #465e25;
}

#content ul {
  list-style: initial;
}

#content .subtitle {
  font-size: 1.35rem; 
  font-weight: 550; 
  color: $body-text;
}

#content {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

#fullpage section {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  height: 100vh;
}

.page{
   height: 100vh; 
   overflow: hidden;
}

@media (min-width: 992px) {
  #sidebar {
    top: 0;
    bottom: 0;
    margin: 0;
    outline: 0;
    border: 0;
    border-color: $brand-green;
    height: 100vh;
    width: 17rem;
    overflow: hidden;
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: $brand-green;
  }
  #content {
    margin-left: 17rem;
  }
  #avatar {
    text-align: center;
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #menu {
    display: block;
    align-items: flex-start;
    margin-bottom: auto;
    flex-grow: 0
  }
  
  .menu-list a {
    color: $sidebar-text;
    font-weight: bold;
    padding: .5rem;
  }

  .menu-list a:hover, .menu-list a:focus, .menu-list a:active {
    color: $sidebar-text-active;
    font-weight: bold;
    border: 0;
    background-color: transparent;
  }
}

a:focus-visible,
button:focus-visible,
.button:focus-visible,
input:focus-visible,
.input:focus-visible,
select:focus-visible,
.select select:focus-visible,
textarea:focus-visible,
.textarea:focus-visible {
  outline: 3px solid $focus-outline;
  outline-offset: 3px;
}

#sidebar a:focus-visible {
  outline-offset: -3px;
}

