{% macro display() %}
{% set section = get_section(path="_index.md") %}
<div class="is-flex is-flex-direction-column" style="height: 100%;">
  <div class="flex: 1;">
    <h1>{{ config.extra.first_name }} <span class="text-primary">{{ config.extra.last_name }}</span></h1>
    <h2 class="subtitle">
      {{ config.extra.address }}
    </h2>
  </div>
  <div class="is-flex is-flex-direction-column is-justify-content-center" style="flex: 1; overflow: auto;">
    <div class="content" style="overflow: auto; padding-top: 1.5rem;">
      {{ section.content | safe }}
    </div>
    <div class="is-hidden-touch">
      <h3>Achievements</h3>
      {% set data = load_data(path="data/achievements.json") %}
      {% for item in data %}
      <a href="{{ item.proof }}" data-toggle="tooltip" title="{{ item.name }}" data-offset="0,10" rel="me">
        <figure class="image is-64x64">
          {% if item.badge is starting_with("http") %}
          <img src="{{ item.badge }}" alt="{{ item.name }}" width="64" height="64" decoding="async">
          {% else %}
          <img src="{{ get_url(path=item.badge) }}" alt="{{ item.name }}" width="64" height="64" decoding="async">
          {% endif %}
        </figure>
      </a>
      {% endfor %}
    </div>
    <div class="socialization">
      <h3>Socialization</h3>
      <div class="social-links">
      {% set data = load_data(path="data/social.json") %}
      {% for item in data %}
      <a href="{% if item.link is starting_with('http') %}{{ item.link }}{% else %}{{ get_url(path=item.link) }}{% endif %}" style="font-size: 1.75rem;" data-toggle="tooltip" title="{{ item.name }}"
        data-offset="0,10" rel="me" aria-label="{{ item.name }}">
          <span class="fa-stack" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x"></i>
            {% if item.icon %}
            <i class="fab fa-{{ item.icon | lower }} fa-stack-1x fa-inverse"></i>
            {% else %}
            <img src="{{ item.asset }}" alt="" width="24" height="24"
              style="position: absolute; width: 1em; height: 1em; left: 50%; top: 50%; transform: translate(-50%, -50%);">
            {% endif %}
          </span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
