{% macro modal() %}
<div class="modal" id="copyTarget">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <textarea class="textarea" id="bibtex-content" placeholder="e.g. Hello world"  readonly></textarea>
    </section>
    <footer class="modal-card-foot">
      <button class="button" id="copyButton">Copy to clipboard</button>
    </footer>
  </div>
</div>
{% endmacro %}

{% macro script() %}
<script>
  async function show_bib(bib_path) {
    try {
      var response = await fetch(bib_path);

      if (!response.ok) {
        return;
      }

      var data = await response.text();
      document.getElementById("bibtex-content").value = data;
      document.getElementById("copyTarget").classList.add("is-active");
    } catch (_error) {
      return;
    }
  }

  document
    .getElementById("copyButton")
    .addEventListener("click", function () {
      var copyText = document.getElementById("bibtex-content");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      navigator.clipboard.writeText(copyText.value);
      document.getElementById("copyTarget").classList.remove("is-active");
    });
</script>
{% endmacro %}
