{% macro metadata(title, description="", canonical="", page_type="website", image="", robots="") %}
{% if description %}
<meta name="description" content="{{ description }}">
{% endif %}
<meta name="author" content="{{ config.extra.first_name }} {{ config.extra.last_name }}">
{% if robots %}
<meta name="robots" content="{{ robots }}">
{% endif %}
{% if canonical %}
<link rel="canonical" href="{{ canonical | safe }}">
{% endif %}
<meta property="og:title" content="{{ title }}">
{% if description %}
<meta property="og:description" content="{{ description }}">
{% endif %}
{% if canonical %}
<meta property="og:url" content="{{ canonical | safe }}">
{% endif %}
<meta property="og:type" content="{{ page_type }}">
<meta property="og:site_name" content="{{ config.title }}">
{% if image %}
<meta property="og:image" content="{% if image is starting_with("http") %}{{ image }}{% else %}{{ get_url(path=image) }}{% endif %}">
{% endif %}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title }}">
{% if description %}
<meta name="twitter:description" content="{{ description }}">
{% endif %}
{% if image %}
<meta name="twitter:image" content="{% if image is starting_with("http") %}{{ image }}{% else %}{{ get_url(path=image) }}{% endif %}">
{% endif %}
{% endmacro %}

{% macro stylesheet() %}
<!-- Connection hints for critical external assets -->
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="preconnect" href="https://icon.nokotaro.com" crossorigin>
<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/saira-extra-condensed@4.5.0/index.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/open-sans@4.5.0/index.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.13.0/devicon.min.css">
{% if config.extra.katex %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.0/dist/katex.min.css">
{% endif %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="{{ get_url(path='main.css', trailing_slash=false) }}">
{% endmacro %}

{% macro javascript(load_search=false) %}
<!-- JS -->
{% if config.extra.katex %}
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.0/dist/katex.min.js"></script>
{% endif %}
{% if config.build_search_index and load_search %}
<script src="{{ get_url(path='elasticlunr.min.js') | safe }}" defer></script>
{% if config.default_language %}
<script src="{{ get_url(path='search_index.' ~ config.default_language ~ '.js' ) | safe }}" defer></script>
{% else %}
<script src="{{ get_url(path='search_index.en.js' ) | safe }}" defer></script>
{% endif %}
{% endif %}
{% endmacro %}

{% macro katex() %}
{% if config.extra.katex %}
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.0/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
{% endif %}
{% endmacro %}

{% macro rss() %}
<!-- RSS -->
{% if config.generate_feed %}
<link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
{% endif %}
{% endmacro %}

{% macro avatar() %}
{% if config.extra.avatar %}
<div style="display:block;margin:auto auto 0;padding:.5rem">
    <figure class="image">
        <img id="avatar" class="is-rounded" src="{% if config.extra.avatar is starting_with("http") %}{{ config.extra.avatar }}{% else %}{{ get_url(path=config.extra.avatar) }}{% endif %}" alt="{{ config.extra.first_name }} {{ config.extra.last_name }}" width="512" height="512">
    </figure>
</div>
{% endif %}
{% endmacro %}
